@import url('https://fonts.googleapis.com/css2?family=SN+Pro:wght@400;600&display=swap');
@import "tailwindcss";

/* 1. Reset base para que el diseño ocupe todo el ancho */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  background: #f4f4f4;
}



@theme {


  /* ─── Neutral ─── */
  --color-neutral-0:   #ffffff;
  --color-neutral-50:  #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e8e8e8;
  --color-neutral-300: #d9d9d9;
  --color-neutral-400: #bfbfbf;
  --color-neutral-500: #8c8c8c;
  --color-neutral-600: #595959;
  --color-neutral-700: #434343;
  --color-neutral-800: #262626;
  --color-neutral-900: #1f1f1f;
  --color-neutral-950: #000000;

  /* ─── Terracota ─── */
  --color-terracota-500: #e35336;
  --color-terracota-400: #e2725b;

  /* ─── Violet blue ─── */
  --color-violet-50:  #e4e6f7;
  --color-violet-500: #5f66cd;
  --color-violet-700: #323f8f;
  --color-violet-900: #1f294e;

  /* ─── BG─── */
  --color-bg: #f4f4f4;

  /* ─── Accent─── */
  --color-accent: #ccc95d;


 
}

@layer base {


  
  body {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
     padding: 5px 30px 0 30px; 
  }
}


